POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432

APP_PORT=8000
MARTIN_PORT=3000
DATABASE_URL=postgresql://postgres:postgres@db:5432/martin
MARTIN_DATABASE_URL=postgres://postgres:postgres@db:5432/martin